<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.boutique">

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Boutique"
        tools:replace="android:theme">
        <activity android:name=".CategorySelectedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoriesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminEditUserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowUsersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".EditRemoveProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShowProductsToAdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchForProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".AdminUserProductsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminOrdersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConfirmFinalOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".CartActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProductDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Boutique.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>